<div class="wrapper">
  <div class="container">
    <div>
      <h1>Ongoing Projects</h1>
      <p>{{projects.length}} projects</p>
    </div>
    <div class="create">
      <button [routerLink]="['/', 'content', 'create']">CREATE NEW PROJECT</button>
    </div>
  </div>
    <div class="ongoing">
       <div class="search">
         <input type="text" placeholder="Search" [(ngModel)]="search" (ngModelChange)="filter(search)">
       </div>
       <div class="carts">
         <div class="cart" *ngFor="let project of projects | paginate: { itemsPerPage: 6, currentPage: p }" [routerLink]="['/content', 'details', project._id]">
             <div class="location">
               <img src="assets/images/marker.svg" alt="">
               <p>{{project.location}}</p>
             </div>
             <div class="address">
               <h2>{{project.title}}</h2>
             </div>
             <div class="info">
               <p>{{project.description| slice: 0:80}}...</p>
             </div>
             <div class="date">
               <div class="published">
                 <p style="color: #9B9B9B;margin-bottom: 4px">Published</p>
                 <p>{{project.started_at}}</p>
               </div>
               <div class="finishing">
                 <p style="color: #9B9B9B;margin-bottom: 4px">Finishing</p>
                 <p>{{project.finished_at}}</p>
               </div>
             </div>
             <div class="sponsors">
               <p class="line" [ngStyle]="{
               'width':(+project.donated / +project.amount) * 100 === 0 ? '1%' :
                (+project.donated / +project.amount) * 100 < 100 ? (+project.donated / +project.amount) * 100 + '%'  :
                100 + '%'
                }"></p>
               <p class="percent">{{
                 (+project.donated / +project.amount) * 100 < 100 ?
                   ((+project.donated / +project.amount) * 100 | number: '1.0-0') :
                   100}}% raised of ${{project.amount}} target</p>
               <p class="sponsors">{{project.sponsorsCount}} sponsors</p>
             </div>
         </div>
       </div>
      <pagination-controls style="display: flex;justify-content: center" (pageChange)="p = $event"></pagination-controls>
    </div>

</div>

