<div class="wrapper">
  <div class="container">
    <div>
      <h1>Ongoing Projects</h1>
      <p>129 projects</p>
    </div>
    <div class="create">
      <button>CREATE NEW PROJECT</button>
    </div>
  </div>
    <div class="ongoing">
       <div class="search">
         <input type="text" placeholder="Search">
       </div>
       <div class="carts">
         <div class="cart" *ngFor="let i of [1,2,3,4,5,6]">
             <div class="location">
               <img src="assets/images/marker.svg" alt="">
               <p>Dilijan, Armenia</p>
             </div>
             <div class="address">
               <h2>Construction of the Dilijan North Highway</h2>
             </div>
             <div class="info">
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem..</p>
             </div>
             <div class="date">
               <div class="published">
                 <p style="color: #9B9B9B;margin-bottom: 4px">Published</p>
                 <p>01/10/2019</p>
               </div>
               <div class="finishing">
                 <p style="color: #9B9B9B;margin-bottom: 4px">Finishing</p>
                 <p>01/10/2019</p>
               </div>
             </div>
             <div class="sponsors">
               <p class="line"></p>
               <p class="percent">62% raised of $250000 target</p>
               <p class="sponsors">259 sponsors</p>
             </div>
         </div>
       </div>
    </div>

</div>

